{% extends "base.html" %}

{% block title %}Agregar Entrada de Producto{% endblock %}

{% block content %}
<h2>Agregar Entrada de Producto</h2>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="producto">Producto:</label>
        <select name="producto" id="producto" class="form-control mb-2" required>
            {% for producto in productos %}
                <option value="{{ producto.id }}">{{ producto.nombre_producto }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="cantidad">Cantidad:</label>
        <input type="number" name="cantidad_entrada" placeholder="Cantidad de Entrada" class="form-control mb-2" required>
    </div>
    <div class="form-group">
        <label for="proveedor">Proveedor:</label>
        <select name="proveedor" id="proveedor" class="form-control mb-2" required>
            {% for proveedor in proveedores %}
                <option value="{{ proveedor.id }}">{{ proveedor.nombre_proveedor }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="factura">Número de Factura:</label>
        <input type="text" name="num_factura_compra" placeholder="Número de Factura" class="form-control mb-2">
    </div>
    <div class="form-group">
        <label for="costo">Costo Unitario:</label>
        <input type="number" step="0.01" name="costo_unitario" placeholder="Costo Unitario" class="form-control mb-2">
    </div>
    <div class="form-group">
        <label for="empleado">Empleado que Recibe:</label>
        <select name="empleado_recepcion" id="empleado" class="form-control mb-2" required>
            {% for empleado in empleados %}
                <option value="{{ empleado.id }}">{{ empleado.nombre }} {{ empleado.apellido }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="observaciones">Observaciones:</label>
        <textarea name="observaciones" placeholder="Observaciones" class="form-control mb-2"></textarea>
    </div>
    <button type="submit" class="btn btn-success">Guardar Entrada</button>
    <a href="{% url 'ver_entradas' %}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}
