{% extends 'base.html' %}

{% block content %}
<h2 class="text-center mb-4">Actualizar Categoría de Almacén</h2>
<div class="card">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Actualizar</button>
                <a href="{% url 'ver_categorias' %}" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
